.page-header
  .row
    .col-sm-offset-1.col-sm-10
      %h1
        = @collection
        %small= "by #{@collection.owner}"
      %h2.collection-description
        = @collection.description

= render 'resource_collections/list', resource_collections: @resource_collections
