%nav.navbar.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#parkland-navbar", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Parkland Admin", root_path, class: "nav-logo navbar-brand"
    #parkland-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{class: ('active' if controller_name == "collections")}
          = link_to "Collections", admin_collections_path
        %li{class: ('active' if controller_name == "admins")}
          = link_to "Admins", admin_admins_path

      .navbar-right
        %ul.nav.navbar-nav
          - if admin_signed_in?
            %li
              = link_to destroy_admin_session_path, method: :delete, class: 'navbar-link' do
                %i.fa.fa-sign-out
                Sign out
          - else
            %li
              = link_to new_admin_session_path, class: 'navbar-link' do
                %i.fa.fa-sign-in
                Sign in
          
