.container
  .page-header
    %h1= "#{@user}'s Collections"
  = render 'collections/tiles', collections: @collections
  .page-header
    %h1= "#{@user}'s Added Resources"
  = render 'resources/list', resources: @resources
