.admin-resources
  .admin-page-header
    .pull-right
      = link_to "Edit", edit_admin_resource_path(@resource), class: "btn btn-default"
    %h2= @resource.name


  .row
    .col-sm-4
      .image
        = image_tag @resource.image
    .col-sm-8
      %h4 Owner
      %p= @resource.owner.name

      %h4 Description
      %p= @resource.description

      %h4 Link
      %p= @resource.href
