.panel.panel-default
  .panel-heading.clearfix
    %h3.panel-title.pull-left Resource Info
  .list-group
    .list-group-item
      %p.list-group-item-text Name
      %h4.list-group-item-heading= resource.name
    .list-group-item
      %p.list-group-item-text Owner
      %h4.list-group-item-heading= resource.owner
    .list-group-item
      %p.list-group-item-text Link
      %h4.list-group-item-heading= resource.href
    .list-group-item
      %p.list-group-item-text Created
      %h4.list-group-item-heading= resource.created_at
    .list-group-item
      %p.list-group-item-text Last Updated
      %h4.list-group-item-heading= resource.updated_at
    
    