.panel.panel-default
  .panel-heading.clearfix
    %h3.panel-title.pull-left Resource Info
    .pull-right
      - if can? :edit, resource
        = link_to edit_resource_path(resource), class: 'btn btn-warning btn-xs' do
          %i.fa.fa-pencil
          edit
  .list-group
    .list-group-item
      %p.list-group-item-text Name
      %h4.list-group-item-heading= resource.name
    .list-group-item
      %p.list-group-item-text Type
      %h4.list-group-item-heading= resource.type
    .list-group-item
      %p.list-group-item-text Owner
      %h4.list-group-item-heading= resource.owner
    .list-group-item
      %p.list-group-item-text Link
      %h4.list-group-item-heading= resource.href
    .list-group-item
      %p.list-group-item-text Description
      %h4.list-group-item-heading= resource.description
    .list-group-item
      %p.list-group-item-text Created
      %h4.list-group-item-heading= resource.created_at
    .list-group-item
      %p.list-group-item-text Last Updated
      %h4.list-group-item-heading= resource.updated_at
    - if can? :collect_one, @resource and current_user.collections.count > 0
      .list-group-item
        %p.list-group-item-text Collect
        - @resource = @resource.becomes(Resource)
        = form_for @resource, url: collect_one_resource_path(@resource), remote: true, html: {method: :post, class: 'list-group-item-heading'} do |f|
          = f.collection_select(:collection_ids, current_user.collections, :id, :to_s, {}, {multiple: true, class: "selectpicker resource-collection-ids"})
    