= simple_form_for(resource, html: {class: 'form-horizontal'}, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :href, label: "Link"
    = f.input :description
    .col-sm-3
    .col-sm-2
      = f.radio_button :type, 'Person'
      <label for="resource_type_person">Person</label>
    .col-sm-7
      = f.radio_button :type, 'Company'
      <label for="resource_type_company">Company</label>

  .form-actions
    = f.button :submit
