= simple_form_for(resource, html: {class: 'form-horizontal'}, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean}) do |f|
  = f.error_notification

  .row
    .col-md-2
    .col-md-8
      .form-inputs
        = f.input :name, placeholder: "Enter the resource's name"
        = f.input :href, label: "Link", placeholder: "http://www..."
        = f.input :description, placeholder: "Describe the resource briefly"
        = f.hidden_field :type, value: 'Person'
        %h3.btn.btn-default.org-btn#organization-btn
          Organization
          
      .form-inputs.org-info
        =f.input :organization, placeholder: "Optional"
        =f.input :org_href, label: "Organization Link", placeholder: "Optional   http://www..."
        =f.input :description, placeholder: "Describe the organization briefly"

      .form-actions
        = f.button :submit