= simple_form_for(resource) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name, placeholder: "Enter the individual's name", required: true
    = f.input :href, label: "Link", placeholder: "http://www...", required: true
    = f.input :image, as: :file
    = f.input :description, placeholder: "Describe the individual briefly"
    = f.hidden_field :type, value: 'Person'
  .form-actions.text-right
    = f.button :submit
