.page-image-header{style: "background-image:url(#{image_path(@resource.image)});"}
  .page-image-header--shadow
    .container.page-image-header--heading
      .row
        .col-sm-offset-1.col-sm-10
          %h1
            = @resource
            - if can? :edit, @resource
              = link_to edit_resource_path(@resource) do 
                %i.fa.fa-pencil-square-o
          %h2.resource-description= @resource.description
          .page-image-header--heading--owner
            = link_to user_path(@resource.owner) do
              %span.user-image
                = image_tag @resource.owner.image
              %span= "shared by #{@resource.owner}"

.container
  .resource-info
    %h1= link_to "Click here to visit website", @resource.href, target: "_blank"
    %p= "Last updated #{time_ago_in_words @resource.updated_at} ago"
  - if @collections.present?
    .resource-collections
      %h2= "#{@collections.count} Collections"
      = render 'collections/tiles', collections: @collections
  .resource-comingsoon
    %h3 More information and features coming soon
    %p Want to see something specific here? Join our chat community to suggest them.