.admin-collections
  .admin-page-header
    .pull-left
      = button_to feature_admin_collection_path(@collection), method: :put, remote: true, class: "btn btn-link btn-feature", form_class: "js-feature-item" do
        %span.h2
          %i.fa.fa-star.feature-star{ class: ("featured" if @collection.featured_at )}
    %span.h2= @collection.name

  .row
    .col-sm-4
      .image
        = image_tag @collection.image
    .col-sm-8
      %h4 Owner
      %p= @collection.owner
      - if @collection.description.present?
        %h4 Description
        %p= @collection.description
      - if @collection.slug.present?
        %h4 Slug
        %p= @collection.slug
      %h4 Created
      %p= l @collection.created_at, format: :date

  
  .row
    .col-sm-12
      %h3 Resources
      = render "admin/resources/table", resources: @collection.resources
