%nav.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#parkland-navbar", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: "navbar-brand" do
        = image_tag "logo.png"
    #parkland-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{class: ('active' if controller_name == "resources")}
          = link_to "Resources", resources_path
        %li{class: ('active' if controller_name == "collections")}
          = link_to "Collections", collections_path
        %li{class: ('active' if controller_name == "users")}
          = link_to "Users", users_path
      .navbar-right
        %ul.nav.navbar-nav
          - if can? :create, @new_resource
            %li
              %a.btn-create-resource{data: {toggle: "modal", target: "#add-resource-modal"}}
                %i.fa.fa-2x.fa-plus
          - if user_signed_in?
            = link_to current_user, user_path(current_user), class: 'navbar-text'
            %li
              = link_to destroy_user_session_path, method: :delete, class: 'navbar-link' do
                %i.fa.fa-sign-out
                Sign out
          - else
            %li
              = link_to new_user_session_path, class: 'navbar-link' do
                %i.fa.fa-sign-in
                Sign in
        %button.btn.btn-default.navbar-btn#navbar-chat{data: {toggle: "popover"}} Join Chat
