!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "NOODP", name: "ROBOTS"}/
    %meta{content: "initial-scale=1", name: "viewport"}/
    %title= title
    = csrf_meta_tags
    = stylesheet_link_tag :application, media: "all"
  %body
    %header.header
      = render "navbar"
    .container
      = render "flashes"
      = yield
      
      - if current_user.present?
        #add-resource-modal.modal.fade{"tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true", "style" => "display: none;"}
          .modal-dialog
            .modal-content.person-modal-body#new-resource-modal
              .modal-head.text-center
                %button.btn.btn-lg.btn-default.form-select-btn.person-btn-modal#person-btn-modal
                  Person
                %button.btn.btn-default.form-select-btn.company-btn-modal#company-btn-modal
                  Company
                %button.btn.btn-default.form-select-btn.collection-btn-modal#collection-btn-modal
                  Collection
              .modal-body#modal-body
                #person-form
                  = render 'resources/person_form', resource: @new_resource
                #company-form
                  = render 'resources/company_form', resource: @new_resource
                #collection-form
                  = render 'collections/form', collection: @new_collection

    = render "footer"
    = render "javascript"