!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "NOODP", name: "ROBOTS"}/
    %meta{content: "initial-scale=1", name: "viewport"}/
    %title= title
    = csrf_meta_tags
    = stylesheet_link_tag :application, media: "all"
  %body
    %header.header
      = render "navbar"
    .container
      = render "flashes"
      = yield
      
      #myModal.modal.fade{"tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true", "style" => "display: none;"}
        .modal-dialog
          .modal-content.person-body#new-modal
            .modal-head.text-center
              %button.btn.btn-default.form-select-btn.person-btn#person-btn
                Person
              %button.btn.btn-default.form-select-btn.company-btn#company-btn
                Company
              %button.btn.btn-default.form-select-btn.collection-btn#collection-btn
                Collection
            .modal-body#modal-body
              #person-form
                = render 'resources/person_form', resource: @new_resource
              #company-form
                = render 'resources/company_form', resource: @new_resource
              #collection-form
                = render 'collections/form', collection: @new_collection

    = render "footer"
    = render "javascript"