!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "NOODP", name: "ROBOTS"}/
    %meta{content: "initial-scale=1", name: "viewport"}/
    %title= title
    = csrf_meta_tags
    = stylesheet_link_tag :application, media: "all"
  %body
    = render "header"
    = render "flashes"
    = yield
      
    - if current_user.present?
      .modal.fade#new-resource-modal
        .modal-dialog
          .modal-content
            .modal-head
              %h3.modal-title
                Share a resource
              %ul.nav.nav-tabs.nav-justified
                %li.active
                  %a{href: "#new-person", data: {toggle: "tab"}} Person
                %li
                  %a{href: "#new-company", data: {toggle: "tab"}} Company
                %li
                  %a{href: "#new-collection", data: {toggle: "tab"}} Collection
            .modal-body
              .tab-content
                .tab-pane.active#new-person
                  = render 'resources/person_form', resource: @new_resource
                .tab-pane#new-company
                  = render 'resources/company_form', resource: @new_resource
                .tab-pane#new-collection
                  = render 'collections/form', collection: @new_collection

  = render "footer"
  = render "javascript"